<div class="modal">
  <img src="../../img/close-modal.svg" alt="close appointment modal" id="close-modal">
  <h3>Book Appointment</h3>
  <form>
  {{#input}}
  <div class="input-container">
  <label>{{this.label}}</label>
  <input required type="{{{this.type}}}" placeholder="{{{this.placeholder}}}" id="{{{this.id}}} "/></div>
  {{/input}}
  
   {{#select}}
   <div class="input-container">
  <label>{{this.label}}</label>
  <select  required name="{{{this.name}}}">
    <option value="" disabled selected hidden>{{this.default}}</option>
    {{#this.option}}
    <option value="{{{this.value}}}">{{this.value}}  </option>{{/this.option}}
  </select> </div>{{/select}}
  
  <button>Book Appointment</button>
  </form>
</div>